<div class="contents row">
  <p><%= @nickname %>さんの投稿一覧</p>
  <% @tweets.each do |tweet| %>
    <div class="content_post" style="background-image: url(<%= tweet.image %>);">
      <p><%= tweet.tweet %></p>
      <span class="name"><%= tweet.tweet %></span>
    </div>
  <% end %>
</div>